body{
    background-color:lightgray;
    display: flexbox;
}
.fa{
 color: white ;
}
.container{
    background-color:lightgoldenrodyellow;
   
}
.col-lg-12{
    border: 1px solid darkkhaki;
    background-color: darkkhaki;
}

.box-part{
    background-color:burlywood;
    padding: 150px 50px;
    margin: 60px 10px;
    border-radius:25px ;
    height: 400px;
}
.part{
    margin: 50px 0px;
    background-color: burlywood;
    padding: 10px 0px;
    border-radius:10px ;
}
.text{
    justify-content:flex-start;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.main > div {
    background-color: burlywood;
    padding: 60px 10px;
    margin: 30px 0px;
    border-radius: 10px;
}
.Part{
    background-color: burlywood;
    padding: 60px 10px;
    margin: 30px 0px;
    border-radius: 10px;
}
